# Basic ones
/coverage
/docs
/node_modules
/.env
/.nyc_output

# We're a library, so please, no lock files
/package-lock.json
/yarn.lock

# Generated types
/index.d.ts
/index.d.ts.map

# Library specific ones
/condition-parser.js
